<!DOCTYPE HTML>
<HTML>
<title>InstaYelp</title>
<center>
<h1>Welcome to InstaYelp!</h1>
Where we help your food dreams come true
<p></center>
  <body>
    <center>
    You must be logged in to an Instagram account and <a href="/instagram">verify</a> your account for this to work.
    <p>
    <form method="post">
      	<input type="text" name="type" placeholder="Type in a food!">
	<p>
      	<input type="text" name="location"  placeholder="Type in a location!">
	<p>
	<input type="submit" name ="button" value="Find">
    </form>
    </center>
  </body>
</HTML>
