<!--{% for u in r %}
{{u}} : {{r[u]}}
<br>
{% endfor %}-->
<!DOCTYPE HTML>
<HTML>
<h1>Top for '{{t}}' in '{{l}}':</h1>
<br>
Name of Restaurant: {{r['name']}}
<br>
Rating : <img src={{r['rating_img_url']}} alt="rating">
<br>
Phone: {{r['phone']}}
<br>
Address: {% for x in r['location']['display_address'] %} {{x}} {% endfor %}
<br>
<a href={{r['url']}}>Yelp Site</a>
<h2>Some deliciously random Instagram posts tagged with '{{t}}'</h2>
{% for u in c %}
<br><img src={{u}}>
{% endfor %}

<form method = "POST">
	<div class = "containor">
		<input type = "submit" class="btn btn-smll btn-primary btn-block" name ="button" value="New">
	</div>
</form>



</HTML>
